<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <%
        for(var i=0; i<rows.length; i++)
        {
            var data = rows[i];
        %>
        <tr>
            <td><%=data.Contents%></td>
            <td><%=data.SkillName1%></td>
            <td><%=data.SkillEx1%></td>
            <td><img src= "<%=data.SkillImg1%>" alt="이미지" width="100"/></td>
            <td><%=data.SkillName2%></td>
            <td><%=data.SkillEx2%></td>
            <td><img src= "<%=data.SkillImg2%>" alt="이미지" width="100"/></td>
            <td><%=data.SkillName3%></td>
            <td><%=data.SkillEx3%></td>
            <td><img src= "<%=data.SkillImg3%>" alt="이미지" width="100"/></td>
           
            
        </tr>
        <%}
        %>
    </table>
    
</body>
</html>